version: "3"
services:
    backend:
        build: .
        ports:
            - "5001:5000"
        volumes:
            - .:/app
        depends_on:
            - db
    db:
        image: postgres:15
        environment:
            POSTGRES_USER: garden
            POSTGRES_PASSWORD: secret
            POSTGRES_DB: gardenmate
        ports:
            - "5433:5432"
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
